@inherits MaterialComponent
<div class="@ClassString" @ref="mdcTextFieldElement">
    <input type="text" id="@Id" class="mdc-text-field__input" value="@Value" @oninput="OnValueChanged" />

    @if (Variant == MDCTextFieldStyle.Filled)
    {
        <label class="@LabelClassString" for="@Id">@Label</label>
        <div class="mdc-line-ripple"></div>
    }
    else if (Variant == MDCTextFieldStyle.Outlined)
    {
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label class="@LabelClassString" for="@Id">@Label</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    }
</div>
