@inherits MaterialComponent
<div class="@ClassString" @ref="mdcTextFieldElement">
    <input type="text" id="@Id" class="mdc-text-field__input" value="@Value">
    <label class="mdc-floating-label" for="@Id">@Label</label>
    <div class="mdc-line-ripple"></div>
</div>
