@inherits MaterialComponent
<label class="@ClassString" @ref="mdcTextFieldElement">
    @if (Variant == MDCTextFieldStyle.Filled)
    {
        <span class="mdc-text-field__ripple"></span>
        <span class="@LabelClassString" id="@LabelId">@Label</span>
        <input class="mdc-text-field__input"
               id="@Id"
               type="text"
               aria-labelledby="@LabelId"
               value="@Value"
               @oninput="@OnValueChanged"
               disabled="@Disabled" />
        <span class="mdc-line-ripple"></span>
    }
    else if (Variant == MDCTextFieldStyle.Outlined)
    {
        <span class="@NotchedOutlineClassString">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="@LabelClassString" id="@LabelId">@Label</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input class="mdc-text-field__input"
               id="@Id"
               type="text"
               aria-labelledby="@LabelId"
               value="@Value"
               @oninput="@OnValueChanged"
               disabled="@Disabled" />
    }
</label>
