@page "/component/text-field"
<ComponentCatalogPanel Title="Text Field">
    <HeroComponent>
        <MDCTextField Variant="@Variant" Label="@Label" @bind-Value="@Value" />
    </HeroComponent>
    <HeroComponentOptions>
        <li class="mdc-list-item catalog-tf-list-item">
            <div>
                <MDCSelect Label="Variant" DataSource="@VariantItems" @bind-Value="@Variant" />
            </div>
        </li>
        <li class="mdc-list-item catalog-tf-list-item">
            <div>
                <p>@Value</p>
            </div>
        </li>
    </HeroComponentOptions>
    <Demos>
        <ComponentDemo Title="Filled">
            <MDCTextField Label="Standard" />
        </ComponentDemo>
        <ComponentDemo Title="Outlined">
            <MDCTextField Label="Standard" Variant="MDCTextFieldStyle.Outlined" />
        </ComponentDemo>
    </Demos>
</ComponentCatalogPanel>

@code {
    private string Label { get; set; } = "Name";
    private string Value { get; set; } = "";
    private IEnumerable<MDCTextFieldStyle> VariantItems => Enum.GetValues(typeof(MDCTextFieldStyle)).OfType<MDCTextFieldStyle>();
    private MDCTextFieldStyle Variant { get; set; } = MDCTextFieldStyle.Filled;
}