@inherits MDCSelect
@typeparam T
<div class="@ClassString" @ref="_MDCSelect">
    <div class="mdc-select__anchor">
        <span class="mdc-select__ripple"></span>
        <input type="text" disabled readonly class="mdc-select__selected-text">
        <i class="mdc-select__dropdown-icon"></i>
        <span class="@LabelClassString">@Label</span>
        <div class="mdc-line-ripple"></div>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
        <ul class="mdc-list">
            @if (IncludeEmptyItem)
            {
                <li class="@BuildItemClassString()" data-value="" aria-selected="true"></li>
            }
            @foreach (var item in DataSource)
            {
                <li class="@BuildItemClassString(item)" data-value="@GetItemDataValue(item)">
                    @GetItemDisplayText(item)
                </li>
            }
        </ul>
    </div>
</div>
