@inherits MDCSelect
@typeparam T
<div class="@ClassString" @ref="_MDCSelect">
    <div class="mdc-select__anchor">
        <span class="mdc-select__ripple"></span>
        <span class="mdc-select__selected-text"></span>
        <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic"
                 viewBox="7 10 10 5">
                <polygon class="mdc-select__dropdown-icon-inactive"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 10 12 15 17 10">
                </polygon>
                <polygon class="mdc-select__dropdown-icon-active"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 15 12 10 17 15">
                </polygon>
            </svg>
        </span>
        <span class="@LabelClassString">@Label</span>
        <span class="mdc-line-ripple"></span>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth" role="listbox">
        <ul class="mdc-list">
            @if (IncludeEmptyItem)
            {
                <li class="@BuildItemClassString()" data-value="" aria-selected="true" role="option">
                    <span class="mdc-list-item__ripple"></span>
                </li>
            }
            @foreach (var item in DataSource)
            {
                <li class="@BuildItemClassString(item)" data-value="@GetItemDataValue(item)" aria-selected="@IsSelected(item)" role="option">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">@GetItemDisplayText(item)</span>
                </li>
            }
        </ul>
    </div>
</div>
