@inherits MDCSelect
@typeparam T
<div class="@ClassString" @ref="_MDCSelect">
    <div class="mdc-select__anchor"
         role="button"
         aria-haspopup="listbox"
         aria-expanded="false"
         aria-labelledby="@LabelledBy">
        <span class="mdc-select__ripple"></span>
        <span id="@LabelId" class="@LabelClassString">@Label</span>
        <span class="mdc-select__selected-text-container">
            <span id="@SelectedTextId" class="mdc-select__selected-text"></span>
        </span>
        <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic"
                 viewBox="7 10 10 5" focusable="false">
                <polygon class="mdc-select__dropdown-icon-inactive"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 10 12 15 17 10">
                </polygon>
                <polygon class="mdc-select__dropdown-icon-active"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 15 12 10 17 15">
                </polygon>
            </svg>
        </span>
        <span class="mdc-line-ripple"></span>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
        <ul class="mdc-list" role="listbox">
            @if (IncludeEmptyItem)
            {
                <li class="@BuildItemClassString()" aria-selected="true" data-value="" role="option">
                    <span class="mdc-list-item__ripple"></span>
                </li>
            }
            @foreach (var item in DataSource)
            {
                <li class="@BuildItemClassString(item)" aria-selected="@IsSelected(item)" data-value="@GetItemDataValue(item)" role="option">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">@GetItemDisplayText(item)</span>
                </li>
            }
        </ul>
    </div>
</div>
